<div class="container">
  <div class="bg-left">
    <div class="left-details">
      <div class="left-line">
        <p class="text">جمع کل سبد خرید</p>
        <div class="left-container">
          <p class="text">23.320.000 تومان</p>
          <p class="text">کل مبلغ</p>
        </div>
        <div class="left-container">
          <p class="text">23.320.000 تومان</p>
          <p class="text"> هزینه ارسال </p>
        </div>
        <div class="left-container">
          <p class="text">23.000 تومان</p>
          <p class="text">ارزش افزوده</p>
        </div>
        <div class="left-container">
          <p class="text">23.320.000 تومان</p>
          <p class="text">کل مبلغ پرداخت</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-right">.</div>
</div>
