<div class="container">
  <div class="bg-left">
    <div class="left-details">
      <div class="left-line">
        <p class="text-1">جمع کل سبد خرید</p>
        <div class="left-container">
          <p class="text">23.320.000 تومان</p>
          <p class="text">کل مبلغ</p>
        </div>
        <div class="left-container">
          <p class="text">23.320.000 تومان</p>
          <p class="text"> هزینه ارسال </p>
        </div>
        <div class="left-container">
          <p class="text">23.000 تومان</p>
          <p class="text">ارزش افزوده</p>
        </div>
        <div class="left-container">
          <p class="text">23.320.000 تومان</p>
          <p class="text">کل مبلغ پرداخت</p>
        </div>
      </div>
      <button class="blue-button">تایید نهایی و پرداخت</button>
    </div>
  </div>
  <div class="bg-right">
    <div class="right-container">
      <div class="right-text">
        <h1 class="right-title">انتخاب روش پرداخت</h1>
      </div>
      <div class="payment">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
      </div>
    </div> 
    <div class="pay-methods">
      <label class="custom-checkbox">
        خرید اعتباری
        <input type="checkbox" name="purchaseType" value="credit">
        <span class="checkmark"></span>
      </label>
      <label class="custom-checkbox">
        خرید اینترنتی
        <input type="checkbox" name="purchaseType" value="online">
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="discription">
      <p class="dic">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم استلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
    </div>
  </div>
</div>
