<div class="back-box">
    <div class="left-box">
        <div class="data-left">
            <div class="datas">
                <div class="show-price">
                    <p class="price-p">12,300,000 تومان</p>
                </div>
                <div class="show-data">
                    <div class="price-shower">
                        <svg width="50" height="55" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="40" fill="none" stroke="#ddd" stroke-width="8"></circle>
                            <circle 
                              cx="50" 
                              cy="50" 
                              r="40" 
                              fill="none" 
                              stroke="#1434A4" 
                              stroke-width="8"
                              stroke-dasharray="70.2 251" 
                              stroke-linecap="round"
                              transform="rotate(-90 50 50)"
                            ></circle>
                          </svg>
                          <p class="price-p">قسط اول 0 روز</p>
                    </div>
                </div>
            </div>
            <div class="datas">
                <div class="show-price">
                    <p class="price-p">12,300,000 تومان</p>
                </div>
                <div class="show-data">
                    <div class="price-shower">
                        <svg width="50" height="55" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="40" fill="none" stroke="#ddd" stroke-width="8"></circle>
                            <circle 
                              cx="50" 
                              cy="50" 
                              r="40" 
                              fill="none" 
                              stroke="#1434A4" 
                              stroke-width="8"
                              stroke-dasharray="40.2 251" 
                              stroke-linecap="round"
                              transform="rotate(-90 50 50)"
                            ></circle>
                          </svg>
                          <p class="price-p">قسط دوم 31  روز</p>
                    </div>
                </div>
            </div>
            <div class="datas">
                <div class="show-price">
                    <p class="price-p">12,300,000 تومان</p>
                </div>
                <div class="show-data">
                    <div class="price-shower">
                        <svg width="50" height="55" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="40" fill="none" stroke="#ddd" stroke-width="8"></circle>
                            <circle 
                              cx="50" 
                              cy="50" 
                              r="40" 
                              fill="none" 
                              stroke="#1434A4" 
                              stroke-width="8"
                              stroke-dasharray="20.2 251" 
                              stroke-linecap="round"
                              transform="rotate(-90 50 50)"
                            ></circle>
                          </svg>
                          <p class="price-p">قسط سوم 62 روز</p>
                    </div>
                </div>
            </div>
            <div class="datas">
                <div class="show-price">
                    <p class="price-p">12,300,000 تومان</p>
                </div>
                <div class="show-data">
                    <div class="price-shower">
                        <svg width="50" height="55" viewBox="0 0 100 100">
                            <circle cx="50" cy="50" r="40" fill="none" stroke="#ddd" stroke-width="8"></circle>
                            <circle 
                              cx="50" 
                              cy="50" 
                              r="40" 
                              fill="none" 
                              stroke="#1434A4" 
                              stroke-width="8"
                              stroke-dasharray="20.2 251" 
                              stroke-linecap="round"
                              transform="rotate(-90 50 50)"
                            ></circle>
                          </svg>
                          <p class="price-p">قسط سوم 62 روز</p>
                    </div>
                </div>
            </div>
                <div class="terms-container">
                    <p class="terms-text">
                      لطفاً شرایط پرداخت و سیاست‌های سایت را قبل از ادامه مطالعه کنید.
                      <a href="#" target="_blank" class="terms-link">شرایط و ضوابط</a>
                    </p>
                    <div class="checkbox-container">
                      <input type="checkbox" id="acceptTerms">
                      <label for="acceptTerms">من شرایط و ضوابط را می‌پذیرم.</label>
                    </div>
                    <button [disabled]="!acceptTerms" (click)="submitForm()"> ارسال و ثبت</button>
                    <p class="resualt-price">مبلغ قابل پرداخت: 3.300.000 تومان</p>
                </div>
        </div>
    </div>
    <div class="right-box">
        <div class="grid-detail">
            <div class="">
              <img src="" alt="" />
              <p class="details-1">خرید از</p>
              <p class="details">ایکس ویژن</p>
            </div>
            <div class="">
              <p class="details-1">مبلغ کل خرید</p>
              <p class="details">37,500,000 تومان</p>
            </div>
          </div>
    </div>
</div>
