

<div class="back-box">
    <div class="big-box">
        <div class="title">
            <h1>با اسنپ پی پرداخت اقساط هارو فراموش نکن </h1>
            <p class="text">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
            </p>
        </div>
    </div>
    <div class="small-box">
        <div class="title">
            <p class="info-text">لطفا کد ارسال شده را در باکس زیر وارد کنید</p>
        </div>
        <div class="otp-container">
            <input id="otp1" type="text" maxlength="1" (input)="moveNext($event, 1)" class="otp-input">
            <input id="otp2" type="text" maxlength="1" (input)="moveNext($event, 2)" class="otp-input">
            <input id="otp3" type="text" maxlength="1" (input)="moveNext($event, 3)" class="otp-input">
            <input id="otp4" type="text" maxlength="1" (input)="moveNext($event, 4)" class="otp-input">
          </div>
        <div class="btn-primary">ثبت</div>
    </div>
  </div>
  
  

