<div dir="rtl" class="full-page-grid">
  <div class="left-grid">
    <div class="grid-detail">
      <div class="">
        <img src="" alt="" />
        <p class="details-1">خرید از</p>
        <p class="details">ایکس ویژن</p>
      </div>
      <div class="">
        <p class="details-1">مبلغ کل خرید</p>
        <p class="details">37,500,000 تومان</p>
      </div>
    </div>
  </div>
  <div class="right-grid">
    <div class="head-name">
      <div class="right-deatails">
        <p class="head-title">ورود | ثبت نام</p>
      </div>
      <div class="right-deatails">
        <p class="head-title">شماره موبایلی که به نام شما است را وارد کنید</p>
      </div>
      <div class="right-deatails">
        <input
          class="number-inpt"
          type="text"
          placeholder="شماره را وارد کنید "
          name=""
          id=""
        />
      </div>
      <div class="right-deatails">
        <div class="details-box">
          <p class="head-title">پرداخت با اعتبار قسطی</p>
          <div class="price-container">
            <div class="price-shower">
              <svg width="90" height="70" viewBox="0 0 100 100">
                <circle
                  cx="50"
                  cy="50"
                  r="40"
                  fill="none"
                  stroke="#ddd"
                  stroke-width="8"
                ></circle>
                <circle
                  cx="50"
                  cy="50"
                  r="40"
                  fill="none"
                  stroke="blue"
                  stroke-width="8"
                  stroke-dasharray="70.2 251"
                  stroke-linecap="round"
                  transform="rotate(-90 50 50)"
                ></circle>
              </svg>
              <p class="">قسط اول 0 روز</p>
            </div>
            <div class="price-shower">
              <svg width="90" height="70" viewBox="0 0 100 100">
                <circle
                  cx="50"
                  cy="50"
                  r="40"
                  fill="none"
                  stroke="#ddd"
                  stroke-width="8"
                ></circle>
                <circle
                  cx="50"
                  cy="50"
                  r="40"
                  fill="none"
                  stroke="blue"
                  stroke-width="8"
                  stroke-dasharray="30.2 251"
                  stroke-linecap="round"
                  transform="rotate(-90 50 50)"
                ></circle>
              </svg>
              <p class="">قسط دوم 30 اسفند</p>
            </div>
            <div class="price-shower">
              <svg width="90" height="70" viewBox="0 0 100 100">
                <circle
                  cx="50"
                  cy="50"
                  r="40"
                  fill="none"
                  stroke="#ddd"
                  stroke-width="8"
                ></circle>
                <circle
                  cx="50"
                  cy="50"
                  r="40"
                  fill="none"
                  stroke="blue"
                  stroke-width="8"
                  stroke-dasharray="10.2 251"
                  stroke-linecap="round"
                  transform="rotate(-90 50 50)"
                ></circle>
              </svg>
              <p class="">قسط سوم 31 فروردین</p>
            </div>
            <div class="price-shower">
              <svg width="90" height="70" viewBox="0 0 100 100">
                <circle
                  cx="50"
                  cy="50"
                  r="40"
                  fill="none"
                  stroke="#ddd"
                  stroke-width="8"
                ></circle>
                <circle
                  cx="50"
                  cy="50"
                  r="40"
                  fill="none"
                  stroke="blue"
                  stroke-width="8"
                  stroke-dasharray="2.2 251"
                  stroke-linecap="round"
                  transform="rotate(-90 50 50)"
                ></circle>
              </svg>
              <p class="">قسط چهارم 31 اردیبهشت</p>
            </div>
          </div>
          <div class="more-detail">
            <p class="more-p">پرداخت با اعتبار بانکی</p>
          </div>
          <div class="more-detail">
            <p class="more-p-2">
              اگر اعتبار گرفتید میتوانید هنگام پرداخت هزینه
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="submit">
      <button class="submit-btn">
        ثبت
      </button>
    </div>
  </div>
</div>
